doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css?v=1')
    link(rel='stylesheet', href='/stylesheets/card.scss')
    script(type='text/javascript', src='/js/bootrap/bootstrap.min.js')
  body
    include include_navbar.jade
    block content

